<a href="https://colab.research.google.com/github/Pranalideokate/Apriori/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]
import pandas as pd

from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   Apple   Corn   Dill   Eggs  Ice cream  ...   Milk  Nutmeg  Onion  Unicorn  Yogurt
0  False  False  False   True      False  ...   True    True   True    False    True
1  False  False   True   True      False  ...  False    True   True    False    True
2   True  False  False   True      False  ...   True   False  False    False   False
3  False   True  False  False      False  ...   True   False  False     True    True
4  False   True  False   True       True  ...  False   False   True    False   False

[5 rows x 11 columns]

In [2]:
from google.colab import files
uploaded = files.upload()

Saving teleCust1000t.csv to teleCust1000t.csv

In [3]:
data=pd.read_csv('teleCust1000t.csv')
data

     region  tenure  age  marital  ...  retire  gender  reside  custcat
0         2      13   44        1  ...     0.0       0       2        1
1         3      11   33        1  ...     0.0       0       6        4
2         3      68   52        1  ...     0.0       1       2        3
3         2      33   33        0  ...     0.0       1       1        1
4         2      23   30        1  ...     0.0       0       4        3
..      ...     ...  ...      ...  ...     ...     ...     ...      ...
995       3      10   39        0  ...     0.0       1       3        1
996       1       7   34        0  ...     0.0       1       1        1
997       3      67   59        0  ...     0.0       1       1        4
998       3      70   49        0  ...     0.0       1       1        3
999       3      50   36        1  ...     0.0       1       3        2

[1000 rows x 12 columns]

In [4]:
from mlxtend.frequent_patterns import apriori

print(apriori(df, min_support=0.6,use_colnames=True))

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Onion, Eggs)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Kidney Beans, Onion, Eggs)

In [5]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                     itemsets  length
0       0.8                       (Eggs)       1
1       1.0               (Kidney Beans)       1
2       0.6                       (Milk)       1
3       0.6                      (Onion)       1
4       0.6                     (Yogurt)       1
5       0.8         (Kidney Beans, Eggs)       2
6       0.6                (Onion, Eggs)       2
7       0.6         (Milk, Kidney Beans)       2
8       0.6        (Kidney Beans, Onion)       2
9       0.6       (Yogurt, Kidney Beans)       2
10      0.6  (Kidney Beans, Onion, Eggs)       3

In [8]:
frequent_itemsets[(frequent_itemsets['length'] == 3) &
                   (frequent_itemsets['support'] >= 0.6)]

    support                     itemsets  length
10      0.6  (Kidney Beans, Onion, Eggs)       3

In [9]:
from mlxtend.frequent_patterns import association_rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
rules

              antecedents            consequents  ...  leverage  conviction
0          (Kidney Beans)                 (Eggs)  ...      0.00         1.0
1                  (Eggs)         (Kidney Beans)  ...      0.00         inf
2                 (Onion)                 (Eggs)  ...      0.12         inf
3                  (Eggs)                (Onion)  ...      0.12         1.6
4                  (Milk)         (Kidney Beans)  ...      0.00         inf
5                 (Onion)         (Kidney Beans)  ...      0.00         inf
6                (Yogurt)         (Kidney Beans)  ...      0.00         inf
7   (Kidney Beans, Onion)                 (Eggs)  ...      0.12         inf
8    (Kidney Beans, Eggs)                (Onion)  ...      0.12         1.6
9           (Onion, Eggs)         (Kidney Beans)  ...      0.00         inf
10                (Onion)   (Kidney Beans, Eggs)  ...      0.12         inf
11                 (Eggs)  (Kidney Beans, Onion)  ...      0.12         1.6

[12 rows x 9 columns]

In [10]:
rules['antecedant_len'] = rules['antecedents'].apply(lambda x: len(x))
rules

              antecedents            consequents  ...  conviction  antecedant_len
0          (Kidney Beans)                 (Eggs)  ...         1.0               1
1                  (Eggs)         (Kidney Beans)  ...         inf               1
2                 (Onion)                 (Eggs)  ...         inf               1
3                  (Eggs)                (Onion)  ...         1.6               1
4                  (Milk)         (Kidney Beans)  ...         inf               1
5                 (Onion)         (Kidney Beans)  ...         inf               1
6                (Yogurt)         (Kidney Beans)  ...         inf               1
7   (Kidney Beans, Onion)                 (Eggs)  ...         inf               2
8    (Kidney Beans, Eggs)                (Onion)  ...         1.6               2
9           (Onion, Eggs)         (Kidney Beans)  ...         inf               2
10                (Onion)   (Kidney Beans, Eggs)  ...         inf               1
11                 (Eggs)  (Kidney Beans, Onion)  ...         1.6               1

[12 rows x 10 columns]

In [43]:
rules=rules[ (rules['antecedant_len'] >= 2) &
(rules['confidence'] > 0.75) &
(rules['lift'] > 1.2) ]
rules

             antecedents consequents  ...  conviction  antecedant_len
7  (Kidney Beans, Onion)      (Eggs)  ...         inf               2

[1 rows x 10 columns]